<div class="col-xs-10 col-xs-offset-1">
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
</div>