<div class="col-xs-12">
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
    <p><%= BetterLorem.c(750, true, true) %></p>
</div>